/******
MDN web doc
*******/

@keyframes openYourHeart {
  from {
    r: 0;
  }
  to {
    r: 60px;
  }
}

#myClip circle {
  animation: openYourHeart 15s infinite;
}

html,
body,
svg {
  height: 100%;
}
